<!DOCTYPE html>
<html>
<head> 
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Text Utils</title>

 </head>

<body>
<h1>Welcome to the text analyzer. Enter your text below</h1>

  <!-- {{name}}
   {{Planet}}
    -->

<br>
<form action='/analyze' method='get'>
   
      <textarea name='text' style="width: 1144px; height: 158px;"></textarea>
      <br/>
      <br/>
      <input type="checkbox" name="removepunc">Removepunc</input>
      <input type="checkbox" name="capatilize">Capatilize Text</input>
      <input type="checkbox" name="allcaps">UPPER CASE</input>
      <input type="checkbox" name="newlineremovechar">New Line Remover</input>
      <input type="checkbox" name="spaceremover">Space Remover</input>
      <input type="checkbox" name="charcount">Character Count</input>
      
      <br/>
      <button type='submit'>Analyze Text</button>

</form>

 

    
 </body>
 </html>


   

</body>
</html> 

 